// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Override bootstrap defaults
@import "override/card";
@import "override/collapse";
@import "override/breadcrumb";

// Utils
@import "utils/cursor";

// My Custom Components
@import "components/navbar";
@import "components/sidebar";
@import "components/layout";

body, html {
    font-family: "Roboto", sans-serif;
}

body {
    margin-top: 55px;
    overflow-x: hidden;
}
