.main-navbar {
    @extend .navbar, .navbar-expand-md, .navbar-light, .bg-primary, .shadow-sm;

    .navbar-nav .nav-link {
        @extend .text-white;
    }

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

