.sidebar {
    overflow-y: auto;

    @include media-breakpoint-up(md) {
        & {
            width: $sidebarWidth;
            height: calc(100vh - 100px);
            max-height: calc(100vh - 100px);
        }
    }
}
